.mk-header {
	color: #fff;
	line-height: 30px;
	background: #fca326;
	padding-left: 10px;
	font-size: 16px;
	text-transform: uppercase;

	.header-title {
		font-weight: bold;
	}
}

.el-main {
	overflow: auto !important;
}

