
.mk-aside {
	line-height: 50px;
	color: #fff;
	height: 100%;
	background: #444;
	padding-top: 20px;

	.aside-item {
		display: block;
		text-indent: 20px;
		&:hover {
			background-color: #666;
		}
	}
}
