<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Mockingjay</title>
		<!-- 引入样式 -->
		<link rel="stylesheet" href="https://unpkg.com/element-ui@2.8.0/lib/theme-chalk/index.css">
		
	<link href="/dist/style.css" rel="stylesheet"></head>
	<body>
		<div id="app" v-cloak>
			<index-comp></index-comp>
		</div>
		<!-- import Vue before Element -->
		<script src="/libs/vue/vue.js"></script>
		<script src="/libs/vue/vue-router.js"></script>
		<script src="/libs/axios.js"></script>

		<!-- 引入组件库 -->
		<script src="https://unpkg.com/element-ui@2.8.0/lib/index.js"></script>
	<script type="text/javascript" src="/dist/app-bundle.js"></script></body>
</html>
