.el-main {
	overflow: visible;
}
.el-row {
	margin-bottom: 10px;
	h5 {
		margin-bottom: 10px;
	}
	.item-title {
		display: inline-block;
		width: 80px;
		line-height: 40px;
		vertical-align: top;
		margin-right: 10px;
	}
}

.req-path {
	max-width: 500px;
}

.obj-tree {
	padding: 10px;
	font-size: 14px;
}
